$title-font: 'Prata',
serif;
$title-font-size: 25px;
$content-font: 'Karla',
sans-serif;

.blog-page {
   
    &__comment {
        
       h2{
        padding-top: 3rem;
        padding-bottom: 2rem;
        text-align: center;
        font-family: $content-font;
        font-weight: 600;
       }
        margin: auto;
        max-width: 700px;

        label {
            display: block;
            font-weight: 600;
            padding-bottom: 5px;

        }

        input {
            font-size: 13px;
            width: 100%;
            border: 1px solid gray;
            border-radius: 2px;
            font-weight: 600;
            font-weight: normal;
            padding: 12px;
            background: transparent;
            margin-bottom: 5px;
        }

        textarea {
            font-size: 13px;
            width: 100%;
            padding: 12px;
            background-color: transparent;
            border: 1px solid gray;
            font-style: normal;
            font-weight: 600;
            border-radius: 2px;
            margin-bottom: 5px;
        }

        :last-child {
            margin: 10px 0;
            ;
            background: transparent;
            border: 1px solid black;
            padding: 10px 20px;
            border-radius: 2px;

            &:hover {
                border-color: lightgray;
            }
        }
    }


    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        max-width: 700px;
        height: 100px;
        border-bottom: 1px solid lightgray;
        border-top: 1px solid lightgray;

        .button {
            background: none;
            border: 1px solid lightgray;
            border-top: none;
            border-bottom: none;
            border-radius: 0;
            padding: 1px 10px;

            &:hover {
                border-color: black;
            }
        }
    }

    &__col {
        .img {
            width: 100%;
            height: 600px;
            object-fit: cover;
        }
    }

    &__content {
        max-width: 700px;
        margin: auto;
        padding-bottom: 4rem;

        .title {
            text-align: left;
            font-family: $title-font;
            margin: 3rem 0;
            font-weight: 600;
        }

        .content {
            padding: 0 5px;
            font-family: $content-font;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 2;
            text-align: left;
           

        }

        .date {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            margin-top: 15px;
            margin-bottom: 5px;
            color: gray;
        }
    }
}