// global styles for all pages
body {
  font-family: "Open sans" sans-serif;
}

a:hover{
  text-decoration: none !important;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $placeholderText;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $placeholderText;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $placeholderText;
}

.button--outline {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  &:hover {
    text-decoration: none;
    background-color: black;
    color: white;
  }
}

.button--black {
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  background-color: black;
  &:hover {
    text-decoration: none;
    background-color: white;
    color: black;
  }
}
