// global styles for all pages
body{
    font-family: 'Open sans' sans-serif;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $placeholderText;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $placeholderText;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $placeholderText;
}