.footer-wrapper{
    background: $primaryColor;
    font-family: "Montserrat";
    .footer-container{
        
        .footer__content{
            padding-top: 80px;

            .footer__menu{
                color: $primaryTextColor;
                .footer__menu__header{
                    font-size: 18px;
                    font-weight: 600;
                    color: $primaryTextColor;
                    text-transform: capitalize; 
                    margin-bottom: 20px;
                }

                .footer__menu__links{

                    .footer__menu__link__item{
                        color: $primaryTextColor;
                        font-size: 14px;
                        font-weight: 300;
                        text-transform: capitalize;
                        padding-bottom: 10px;
                        cursor: pointer;
                    }
                }

                .footer__newsletter__info{
                    margin: 0;
                    font-size: 14px;
                }

                .footer__signup{
                    margin: 25px 0;

                    .newsletter-input{
                        border-radius: 0px;
                    }::placeholder{
                        color: grey;
                    }

                    .newsletter-btn{
                        background: $primaryColorBold;
                        color: $primaryTextColor;
                        border-radius: 0px;   
                    }

                    .form-check{
                        margin-top: 15px;
                        label{
                            font-size: 13px;
                            color: $primaryTextColor;
                            font-style: italic;
                        }
                    }
                }

                .footer__socials{
                    margin: 20px 0;

                    .footer__social__item{
                        // color: $muteIconColors;
                        font-size: 28px;
                        margin-right: 30px;
                        cursor: pointer;
                        &:hover{
                            color: $primaryTextColor;
                        }
                    }
                }
            }
        }

        hr{
            color: $primaryTextColor;
        }

        .footer__bottom{
            color: $primaryTextColor;
            .footer__copyright{
                font-size: 12px;
                font-weight: 100px;
            }

            .footer__payments{
                
                .payments__list{
                    display: flex;
                    flex-direction: row;
                    font-size: 36px;

                    .payment__item{
                        color: $muteIconColors;
                        margin: -20px 10px 0;
                        cursor: pointer;
                        &:hover{
                            color: $primaryTextColor;
                        }
                    }
                }
            }
        }
    }
}