.header-wrapper{
    background: $headerBackground;
    color: $primaryTextColor;
    .header-container{
        .header-top{
            .header__top__socials{
                .socials_items{
                    .social-item{
                        display: inline-block;
                        margin: 10px 10px 0 0;
                        cursor: pointer;
                    }
                }
            }
    
            .header__top__promotion{
                .promotion_text{
                    text-align: center;
                    margin-top: 15px;
                    span{
                        color: $primaryColorBold;
                        text-transform: uppercase;
                    }
                }
            }
            .header__top__shop-settings{
                .setting_items{
                    .setting-item{
                        display: inline-block;
                        margin: 10px 15px 0 0;
                        cursor: pointer;
                    }
                }
            }
        }
        
    }
}

.navbar-wrapper{
    background: $primaryColor !important;
    .navbar-top-container{
        display: flex;
        align-items: center;

        .navbar-brand{
            color: $primaryTextColor;
            font-size: 24px;
            span{
                font-weight: 700;
            }
        }
        .navbar-search{
            margin-left: 440px;

            .search-input{
                // height: 30px;
                border-radius: 0px;
            }::placeholder{
                color: $placeholderText;
            }

            .search-btn{
                // height: 30px;
                background: $primaryColorBold;
                color: $primaryTextColor;
                border-radius: 0px;              
            }
        }

        .shop-links{
            display: flex;

            .shop-link-item{
                color: $primaryTextColor;
                font-size: 20px;
                margin: 10px 35px 0 0;
            }
        }   
        
    }

    .navbar-bottom-container{

        .nav-links{
            justify-content: center;
            align-items: flex-end;
            .nav-link{
                font-family: 'Open sans' sans-serif;
                font-weight: 700;
                font-size: $primaryFontSize;
                color: $primaryTextColor;
                margin: 0 25px;
            }
        }
    }
}