// color variables
$primaryColor: black;
$primaryTextColor: white;

$primaryColorBold: #4BAADB;

$placeholderText: white; //#C4C4C4

$announcementBgColor: pink;
$announcementTextColor: black;
$announcementTextColorEmphasis: blue;

//sizes
$primaryFontSize: 16px;
