// color variables
$color-white: #ffffff;
// $color-black: #000000;
$color_top_button_bg: #444444;

// text
$primaryColor: rgb(59, 59, 59);
$primaryTextColor: white;
$primaryTextHoverColor: rgb(141, 141, 141);
$primaryFont: 'Montserrat';
$primaryColorBold: #4BAADB;

$placeholderText: white; //#C4C4C4

// announcement
$announcementBgColor: rgb(156, 152, 153);
$announcementTextColor: black;
$announcementTextColorEmphasis: rgb(247, 247, 247);

$muteIconColors: rgb(173, 173, 173);

// nav menu
$navJumboMenuBgColor: white;
$navJumboMenuTextColor: black;
$navJumboMenuTextHoverColor: rgb(141, 141, 141);
$navJumboMenuShadowColor: rgba(41,41,41,.25);



//sizes
$primaryFontSize: 16px;
//Contact Variables
$contact_font: "Montserrat", sans-serif;
$heading_light: 90px Montserrat, sans-serif;
$heading_weight: 800;
$contact_btnBackground: rgb(255, 0, 179);

$spacer: 1rem;
$p1: $spacer*.25;
$p2: $spacer*.5;
$p3: $spacer;
$p4: $spacer*1.5;
$p5: $spacer*3;