// Colors

$primaryColor: #8ABDD7;
$primaryColorBold: #4BAADB;

$primaryTextColor: white;

$headerBackground: black;
$headerTextColor: white;
$placeholderText: #C4C4C4;


//sizes
$primaryFontSize: 16px;
