// styles for gallery page
$spacer: 1rem;
$p1: $spacer*.25;
$p2: $spacer*.5;
$p3: $spacer;
$p4: $spacer*1.5;
$p5: $spacer*3;

$color-white: #ffffff;
$color-black: #000000;
$color_top_button_bg: #444444;
$color_filter_bg: #ffffff;
$color_filter_header: #000000;
$color_filter_label: #53585f;
$color_product_discount: rgb(227, 44, 43);
$color_product_title: #53585f;
$color_product_price: #53585f;
$color-swatch-border: #cacaca;
$font-default: proxima-nova-condensed, Arial, sans-serif;

$color-photo-border: #edeff0;

@mixin flex_center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin ff($font-family: $font-default) {
  font-family: $font-family;
}

.container-fluid {
  padding: 0;
}

// GO TO TOP OF PAGE
.top-button {
  background-color: $color_top_button_bg;
  border: none;
  bottom: $p5;
  cursor: pointer;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  padding: 2px 11px 6px;
  right: $p3*1.8;
  position: fixed;
  z-index: 100;

  &:hover, &.scrolling {
    // background-color: $gray-600;
    opacity: .9;
    transition: opacity .1s ease-in-out;
  }
  &.active {
    cursor: pointer; /* Add a mouse pointer on hover */
    opacity: 1;
    transition: all .25s ease-in-out;
    visibility: visible;
  }
  // i {

  //   font-size: 11px;
  //   color: white;
  // }
  &__icon {
    font-size: 11px;
    color: white;
  }  
}





// COLLECTIONS SECTION
.collections {
  &__container {
    padding: $p5 0;
  }

  &__header {
    font-weight: 600;
    margin-bottom: $p3*2.5;
    text-align: center;
  }

  &__description {
    margin: 0 auto $p3;
    width: 50%;
  }

  &__read-more {
    color: black;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: $p5;
    text-align: center;
    text-decoration: underline;
  }

  &__search-filter {
    padding: 0;
  }
  &__gallery {
    padding: 0;
  }
}

// SEARCH FILTER
.filter {
  background-color: $color_filter_bg;
  width: 100%;
  height: 100%;

  &__section {
    padding: 0;
    margin: 0;
  }

  &__br {
    border-top: 1px solid black;
    margin: 16px 0;

    &--first {
      margin-top: 0;
    }
  }

  &__title {    
    @include ff();
    color: $color_filter_header;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__checkbox-row {
    margin-top: 8px;
    display: flex;
    align-items: center;
  }

  &__checkbox {
    border-color: $color_filter_label;
    margin: 0;
  }


  &__label {
    @include ff();
    cursor: pointer;
    font-size: 14px;
    color: $color_filter_label;
    margin: 0 0 0 8px;
    text-transform: capitalize;
  }
}



// GALLERY
.gallery {
  // SORTING
  &__sorting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 $p4;
    width: 100%;
  }
  &__dropdown {
    padding: $p1 $p1;
    text-transform: uppercase;
  }

  // PICTURES
  &__column {
    margin-bottom: $p5;
    padding: 0;
  }

  &__container {
    // border: 1px solid black;
    min-height: 480px;
    min-width: 226px;
    max-height: 585px;
    max-width: 245px;
    height: 585px;
    width: 245px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

  }

  &__image-container {
    border: 1px solid $color-photo-border;
    min-height: 365px;
    max-height: 585px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  &__image {
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  }
  
  &__product-info {
    margin: 0;
    padding: 0;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
  }
}

.product-info {
  &__top-container{}
  &__discount {
    @include ff();
    color: $color_product_discount;
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
  }
  &__title {
    @include ff();
    color: $color_product_title;
    font-size: 15x;
    font-weight: 400;
  }
  &__price {    
    @include ff();
    color: #000000;
    font-size: 16px;
    font-weight: 600;
  }
  &__button {
    @include flex_center();
    background-color: $color-black;
    border: 1px solid $color-black;
    color: $color-white;
    padding: $p2 0;

    &:hover {
      background-color: #eeeff0;
      color: $color-black;
      transition: all .1s ease-in-out;
    }
  }
  &__swatches {
    display: flex;
    gap: 25px;
  }
}

.swatch {
  cursor: pointer;
  $size: 18px;
  border-radius: 50%;
  height: $size;
  width: $size;
  box-shadow: inset 0 0 0 1px $color-swatch-border;
  // vertical-align: bottom;

  &--active {
    box-shadow: inset 0 0 0 1px $color-black, 0 0 0 1px $color-white, 0 0 0 4px $color-swatch-border;
  }

  &--blue {
    background-color: #006eff;
  }
  &--pink {
    background-color: #e795e3;
  }
  &--red {
    background-color: red;
  }


}


.bag-button {
  &__text {
    @include ff();
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &__icon {
    font-size: 12px;
    margin-left: 6px;
  }
}